@use '@material/layout-grid' as layout-grid-variables with (
  $breakpoints: (
    desktop: 840px,
    tablet: 600px,
    phone: 0px
  ),
  $default-margin: (
    desktop: 12px,
    tablet: 8px,
    phone: 8px
  ),
  $default-gutter: (
    desktop: 12px,
    tablet: 8px,
    phone: 8px
  )
);
