@use './vars';
@use '@material/top-app-bar/variables' as top-app-bar-variables;

@use '@material/theme/theme-color' with (
  $primary: vars.$primary,
  $secondary: vars.$secondary
);

@use '@material/layout-grid' with (
  $breakpoints: (
    desktop: 840px,
    tablet: 600px,
    phone: 0px
  ),
  $default-margin: (
    desktop: 12px,
    tablet: 8px,
    phone: 8px
  ),
  $default-gutter: (
    desktop: 12px,
    tablet: 8px,
    phone: 8px
  )
);

@use 'balm-ui/components/form' with (
  $form-item-margin-bottom: 10px
);

$mobile-breakpoint: top-app-bar-variables.$mobile-breakpoint;
$topAppBar-row-height: top-app-bar-variables.$row-height;
$topAppBar-mobile-row-height: top-app-bar-variables.$mobile-row-height;
