.mdc-table-view {
}

.mdc-table-view__conditions {
  margin-bottom: 12px;
}

.mdc-table-view__topbar {
  margin-bottom: 12px;
}

.mdc-table-view__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .action {
    margin: 0 4px;
    cursor: pointer;
  }
}

.mdc-data-table__cell--center {
  .mdc-table-view__actions {
    justify-content: center;
  }
}

.mdc-data-table__cell--right {
  .mdc-table-view__actions {
    justify-content: flex-end;
  }
}
