@use '@material/theme' as color;

.catalog-list .balmui-version {
  display: none;
}

.mdc-layout-view--with-drawer-below-top-app-bar {
  .catalog-list .balmui-version {
    display: inline;
  }
}

.mdc-layout-view {
  .mdc-drawer__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .balmui-version {
    font-weight: normal;
    .version {
      color: color.$orange-900;
    }
  }
}
