@use '@material/theme' as color;
@use '../global';

a {
  color: global.$primary;
}

.balmui-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.balmui-head {
  .github {
    line-height: 1; // fix(ie11): css bug

    & > span {
      display: none;
    }
  }
}

.top-app-toolbar {
  display: flex;
  align-items: center;
}

.global-message-banner {
  position: fixed;
  z-index: 3;
  top: global.$topAppBar-row-height;

  .mdc-banner__graphic {
    padding: 8px 0;
  }

  a {
    font-weight: bold;
  }
}

.catalog-list {
  .mdc-deprecated-list-group__subheader {
    font-size: 18px;
  }

  .no-icon {
    padding-left: 28px;
  }
}

.catalog-list-icon {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 12px;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (min-width: #{global.$MIN_WIDTH}px) {
  .balmui-content {
    width: calc(100% - #{global.$nav-width});
  }

  #balmui-menu {
    display: none;
  }
}
