@use '@material/elevation/mixins' as elevation-mixins;

.mdc-list-view {
  &__conditions {
    margin-bottom: 12px;
  }

  &__top-actions {
    margin-bottom: 6px;

    .top-action {
      margin: 0 6px 6px 0;
    }
  }

  &__row-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .row-action {
      margin: 4px;
      cursor: pointer;
    }
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 128px;
    @include elevation-mixins.elevation(1);
  }
}

.mdc-data-table__cell--center {
  .mdc-list-view__actions {
    justify-content: center;
  }
}

.mdc-data-table__cell--right {
  .mdc-list-view__actions {
    justify-content: flex-end;
  }
}
